@using SuperSearch.Models
@model List<SearchObject>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (SearchObject item in Model)
{
    <a class="tablink" asp-action="Info" asp-route-Name="@item.Name">@item.Name</a>
}